@import "tailwindcss";
@import "tw-animate-css";

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #aae8ee inset; /* Use your desired background color */
  -webkit-text-fill-color: black/70;           /* Use your desired text color */
  transition: background-color 5000s ease-in-out 0s;
}
